.main {
  img {
    width: 100%;
  }
  .intro {
    width: 70%;
    height: 50vh;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    .mainTitle {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5em;
      text-align: center;
    }
    .mainDesc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      padding: 30px;
      .snsLink {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5em;
        a {
          cursor: pointer;
          &:hover {
            color: yellow;
          }
        }
      }
      .subDesc {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}

.introduce {
  padding: 50px;
  height: 650px;
  display: flex;
  .introImg {
    width: 100%;
    height: 100%;
    img {
      width: 80%;
      height: 96%;
      margin-top: 45px;
      margin-left: 70px;
    }
  }
  .introInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 70px 20px;
    .introBegins {
      color: #565745;
    }
    .introTitle {
      font-size: 1.7em;
      font-weight: 500;
    }
    .introNum {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .experienceNum {
        font-size: 1.8em;
      }
    }
    .introButton {
      .learnmore {
        padding: 20px;
        border: 1px solid #000;
        border: none;
        border-radius: 50px;
        text-align: center;
        margin-top: 100px;
        cursor: pointer;
      }
      dialog {
        height: 50vh;
        background-color: rbga(0, 0, 0, 1);
        border: none;
        text-align: center;
        border-radius: 20px;
        margin: 200px;
        font-size: 1.1em;
        padding: 80px;
        button {
          margin-top: 25px;
          padding: 15px;
          border: none;
          border-radius: 20px;
        }
      }
    }
  }
}

.symbol {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  text-align: center;
  .mean {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .symbolDesc {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.htmlList {
  width: 100%;
  height: 100vh;
  padding: 50px;
  background: #000;
  .htmlLists {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .htmlListsrow {
      display: flex;
      gap: 10px;
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}

.new {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  .newTitle {
    width: 100%;
    height: 20%;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    padding-left: 50px;
  }
  .newSubs {
    width: 100%;
    height: 100%;
    display: flex;
    .newSubsBoxes {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .newSubsBox {
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        .newSubsBox1 {
          width: 100%;
          height: 80%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 50px;
          div {
            img {
              width: 100%;
              height: 80%;
            }
          }
        }
        .newSubsBox2 {
          width: 100%;
          height: 80%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 50px;
          div {
            img {
              width: 100%;
              height: 80%;
            }
          }
        }
      }
    }
    .newSubsImg {
      width: 100%;
      height: 100%;
      img {
        width: 50%;
        height: 90%;
        position: absolute;
        right: 0;
        padding-top: 70px;
      }
    }
  }
}

.bestItems {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 70px;
  .bestItemsTitle {
    font-size: 2em;
  }
  .bestItemsSubs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    .bestItemsSubsBoxes {
      width: 100%;
      height: 350px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      :hover {
        transform: scale(1.025);
        border-radius: 50%;
      }
      .bestItemsImg {
        width: 100%;
        height: 100%;
        background: #eee;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .bestItemsDesc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

.description {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .descriptionMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 100px;
    .descriptionMainSubs {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .descriptionMainSubsTitle {
        font-size: 2em;
        font-weight: 500;
      }
    }
  }
  .descriptionImg {
    width: 100%;
    height: 70%;
    img {
      width: 70%;
      height: 80%;
      margin-top: 100px;
      margin-left: 50px;
    }
  }
}

.symbolMark {
  width: 100%;
  height: 30vh;
  margin: 50px 0 0;
  border: 1px solid #f00;
}

.follow {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .followTitle {
    font-size: 2.5em;
    font-weight: 700;
  }
  .followId {
    font-size: 1.5em;
    font-weight: 500;
    color: #f3e7d3;
  }
}

footer {
  width: 100%;
  height: 80vh;
  background: #294833;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  .footerDesc {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .footerDescTitle {
      font-size: 2em;
      font-weight: 600;
    }
  }
  .footerEmail {
    width: 560px;
    background: #fff;
    border-radius: 50px;
    input {
      width: 450px;
      height: 60px;
      border-radius: 50px;
      padding: 20px;
      border: none;
      font-size: 1.2em;
    }
    button {
      width: 100px;
      height: 50px;
      border-radius: 50px;
      border: 1px solid #000;
      background: #000;
      color: white;
    }
  }
}

@media screen and (max-width: 950px) {
  .main {
    .intro {
      height: 30vh;
      top: 20%;
      .mainTitle {
        font-size: 1.5em;
      }
      .mainDesc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .snsLink {
          gap: 1.5em;
          font-size: 1em;
        }
        .subDesc {
          display: none;
        }
      }
    }
  }
  .introduce {
    height: 150vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
    padding: 10px;
    .introImg {
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        height: 95vh;
        margin-top: 0;
        margin-left: 0;
      }
    }
    .introButton {
      display: none;
    }
  }
  .symbol {
    display: none;
  }

  .htmlList {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    .htmlLists {
      display: flex;
      justify-content: center;
      align-items: center;
      .htmlListsrow {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  .new {
    font-size: 0.7em;
    .newTitle {
      height: 10%;
    }
    .newSubs {
      flex-direction: column;
      height: 100%;
      .newSubsBoxes {
        .newSubsBox {
          gap: 10px;
          .newSubsBox1 {
            gap: 10px;
          }
          .newSubsBox2 {
            gap: 10px;
          }
        }
      }
      .newSubsImg {
        img {
          width: 100%;
          height: 50vh;
          padding: 0;
        }
      }
    }
  }
  .bestItems {
    padding: 20px;
    .bestItemsSubs {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .bestItemsSubsBoxes {
        width: 70%;
        height: 200px;
      }
    }
  }
  .description {
    height: 30vh;
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    margin: 30px 0;
    .descriptionMain {
      align-items: center;
      justify-content: center;
      padding: 30px;
      gap: 20px;
      .descriptionMainSubs {
        gap: 0;
      }
    }
    .descriptionImg {
      img {
        display: none;
      }
    }
  }
  footer {
    padding: 40px;
    .footerEmail {
      width: 100%;
      input {
        width: 60%;
      }
      button {
        width: 37%;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .main {
    .intro {
      font-size: 0.5em;
      height: 20vh;
      top: 15%;
    }
  }
  .htmlList {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    .htmlLists {
      .htmlListsrow {
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  .bestItems {
    height: 130%;
    .bestItemsSubs {
      gap: 35px;
      .bestItemsSubsBoxes {
        :hover {
          border-radius: 0;
        }
      }
    }
  }

  footer {
    padding: 20px;
  }
}
